<!DOCTYPE html>
<html>
<head>
  <title>PetPro</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<nav>
  <ul>
    <li>
      <a href="/petpro">Home</a>
    </li>
    <li>
      <a href="/petpro/pets">Pets</a>
    </li>
    <li>
      <a href="/petpro/appointments">Appointments</a>
    </li>
  </ul>
</nav>
  <%= yield %>
</body>
</html>
