<!DOCTYPE html>
<html>
<head>
  <title>PetPro</title>
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,700|PT+Sans:400,700" rel="stylesheet">
</head>
<body>
<nav>
  <ul>
    <li class= "nav-el">
      <a class = "nav-link" href="/petpro">Home</a>
    </li>
    <li class= "nav-el">
      <a class = "nav-link" href="/petpro/pets">Pets</a>
    </li>
    <li class= "nav-el">
      <a class = "nav-link" href="/petpro/appointments">Appointments</a>
    </li>
    <li class= "nav-el">
      <a class = "nav-link" href="/petpro/pets/new">Register New Pet</a>
    </li>
    <li class= "nav-el">
      <a class = "nav-link" href="/petpro/appointments/new">Book Appointment</a>
    </li>
  </ul>
</nav>
  <%= yield %>
</body>
</html>
