<h1>Register new pet</h1>

<form action="/petpro/pets" method="post">
  <label for="name">Name: </label>
  <input type="text" name="name">
  <label for="owner-name">Owner Name: </label>
  <input type="text" name="owner-name">
  <label for="type">Pet Type: </label>
  <select name="type">
    <option value="Dog">dog</option>
    <option value="Cat">cat</option>
    <option value="Rodent">rodent</option>
    <option value="Exotic">exotic</option>
    <option value="Other">other</option>
  </select>
  <label for="breed">Breed: </label>
  <input type="text" name="breed">
  <label for="gender">Gender: </label>
  <select name="gender">
    <option value="male">male</option>
    <option value="female">female</option>
  </select>
  <label for="age">Age: </label>
  <input type="number" name="age">
  <label for="neutered_or_spayed">Neutered/spayed</label>
  <select name="neutered_or_spayed">
    <option value="true">Yes</option>
    <option value="false">No</option>
  </select>
  <label for="photo">Photo: </label>
  <input type="text" name="photo">
  <input class="btn btn--action" type='submit' value="Save details">



</form>
