<section>
  <h2>All Pets</h2>
<img class="pets_gif" src="https://media.giphy.com/media/xT9IgpxorXdkhoQle8/giphy.gif" alt="">
  <%for pet in @pets%>
  <div class="pet">
      <h3><%= pet.name.capitalize %></h3>
      <p>Owner: <%= pet.owner_name %></p>
      <p>Type: <%= pet.type.capitalize %></p>
      <p><a class= "link" href="/petpro/pets/<%= pet.id %>">More Details</a><p>
  </div>
  <%end%>

</section>
