html {
  background-color: #41C39B;
}

header {
  width: 100%;
}

main {
  display: flex;
  justify-content: center ;
  padding-top: 100px;
}

body  {
  width: 100%;
  margin: 0;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #FFFFFF;
  font-family: 'Lora', serif;
  font-size: 4em;
  display: flex;
  justify-content: center;
  text-shadow: 3px 3px 4px #FFB7C5;
}

h2 {
  color: #FFFFFF;
  font-family: 'Lora', serif;
  text-shadow: 3px 3px 4px #FFB7C5;
}

h3 {
  font-family: 'PT Sans', sans-serif;
  color: #FFFFFF;
  text-shadow: 3px 3px 4px #FFB7C5;
}

p, form {
  font-family: 'PT Sans', sans-serif;
  color: #364156;
}

a {
  color: #FFFFFF;
  font-family: 'PT Sans', sans-serif;
}

img {
  margin-bottom: 40px;
}

.pets_gif {
  width: auto;
  height: 23%;
  border: solid 3px #4D5057;
  margin-bottom: 20px;
}

.home_gif {
  border: solid 3px #4D5057;
}

.form-el {
  margin: 8px 0px;
}

.appointment {
  margin-top: 10px;
}

/* NAV */

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #FFFFFF;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.65;
  position: fixed;
}

nav li {
  display: inline;
  margin: 0;
  padding: 0 25px;
  float: left;
}

nav a {
  height: 60px;
  line-height: 60px;
  color: #204156;
  text-decoration: none;
}

.nav-link:hover, .link:hover {
  color: #FFB7C5;
}

/* BUTTONS */

.button_navy {
  background-color: #364156; /* Navy */
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px 3px 3px 3px;
}

.button_pink {
  background-color: #FFB7C5; /* Pink */
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px 3px 3px 3px;
}

.button_grey {
  background-color: #4D5057; /* Grey */
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px 3px 3px 3px;
}

.button_navy:hover {
  background-color: #6379a3; /* light navy */
}
.button_pink:hover {
  background-color: #ffc9d3; /* light pink */
}
.button_grey:hover {
  background-color: #8e94a0; /* light grey */
}

.delete_form {
  display: inline;
}
