html {
  background-color: #41C39B;
}

h1 {
  color: #FFFFFF;
  font-size: 4em;
  display: flex;
  justify-content: center;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

nav {
  display: flex;
}

form {

}
