html {
  background-color: #41C39B;
}

h1 {
  color: #FFFFFF;
  font-family: 'Lora', serif;
  font-size: 4em;
  display: flex;
  justify-content: center;
  text-shadow: 3px 3px 4px #FFB7C5;
}

h2 {
  color: #FFFFFF;
  font-family: 'Lora', serif;
  text-shadow: 3px 3px 4px #FFB7C5;
}

h3 {
  font-family: 'PT Sans', sans-serif;
  color: #FFFFFF;
  text-shadow: 3px 3px 4px #FFB7C5;
}

p, form {
  font-family: 'PT Sans', sans-serif;
  color: #364156;
  /* text-shadow: 1px 1px black; */
}

a {
  color: #FFFFFF;
  font-family: 'PT Sans', sans-serif;
}

.nav-link:hover, .link:hover {
  color: #FFB7C5;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #FFFFFF;
  width: 100%;
}

nav li {
  display: inline;
  margin: 0;
  padding: 0 25px;
  float: left;
}

nav a {
  height: 60px;
  line-height: 60px;
  color: #204156;
  text-decoration: none;
}

form {
  display: inline;
  justify-content: center;
}

.form-el {
}

.button_navy {
  background-color: #364156; /* Navy */
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button_pink {
  background-color: #FFB7C5; /* Pink */
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button_grey {
  background-color: #4D5057; /* Grey */
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button_navy:hover {
  background-color: #6379a3; /* light navy */
}
.button_pink:hover {
  background-color: #ffc9d3; /* light pink */
}
.button_grey:hover {
  background-color: #8e94a0; /* light grey */
}

.delete_form {
  display: inline;
}
